* {
  margin: 0%;
  padding: 0%;
  text-align: center;
}

#main-heading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: antiquewhite;
  background-color: #081b31;
  height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 5rem;
}
.choice:hover {
  /* opacity: 50%; */
  cursor: pointer;
  background-color: #081b31;
}
.img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.score-board {
  height: 10rem;
  width: 100vw;
  margin-left: 1.65rem;
  margin-top: 3rem;
  margin-right: 1.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5rem;
  font-size: 2.5rem;
}
.scores {
  color: #081b31;
  font-size: 4rem;
}
.msg-container {
  margin-top: 5rem;
}
#msg {
  background-color: #081b31;
  color: antiquewhite;
  height: 5rem;
  /* margin-top: 10rem; */
  line-height: 5rem;
  font-size: 2rem;
  width: 25rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
