* {
  padding: 0%;
  margin: 0%;
  border-radius: border-box;
}
.Nav {
  position: relative;
  height: 4rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home {
  margin-left: 1rem;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.35s ease-out;
}

.home:hover {
  transform: scale(1.1);
  color: #60a5fa;}


.nav-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-items a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  height: 1.5rem;
  transition: transform 0.3s ease-in-out;
}
.nav-items a:hover {
  transform: translateY(-10px) scale(1.1);
  border-bottom: 3px solid royalblue;
}

.nav-icons {
  margin-right: 1rem;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  color: black;
  padding: 0.3rem;
}

.nav-icons a {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.nav-icons a:hover {
  transform: scale(1.1);
}
